/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #B6EFC0;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted black;
     padding: 30px;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("http://lorempixel.com/125/125/nature/5/cc");
     opacity: 0.3;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

p {
    font-family: 'Brush Script MT', cursive;
    color: #A1184C
}

.project p {
    font-variant: small-caps;
    color: #7FE226;
}

#project1 {
    font-variant: small-caps;
}

.project {
    margin-left: 30px;
    background-color: #0de6ff;
    padding: 20px;
    width: 525px;
}